<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" /> <!-- 갤러리 권한 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 갤러리 권한 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> <!-- Location -->
    <!-- 정확한 위치 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 대략적인 위치 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".SerachMap.SearchMapContent"></activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="945b139935b4dd7d948524834b84b539" />

        <activity android:name=".Notification.Notification"></activity>
        <activity android:name=".FamilySet.MainActivity" />
        <activity android:name=".FamilySet.FamilySettingActivity" />
        <activity android:name=".LoginRegister.SignUpActivity"></activity>
        <activity android:name=".LoginRegister.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Mypage.MypageEditActivity" />
        <activity android:name=".Mypage.MypageActivity" />
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".Home_Board.BoardActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".SerachMap.SearchMap" />
        <activity android:name=".StartActivity" />
        <activity android:name=".FamilySet.DynamicLinkActivity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="familyship.page.link"
                    android:path="/DynamicLinkActivity"
                    android:scheme="https" />
            </intent-filter>
        </activity> <!-- <service -->
        <!-- android:name=".MyFirebaseMessagingService" -->
        <!-- android:exported="true" -->
        <!-- android:enabled="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.MESSAGING_EVENT" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <!-- <activity android:name=".Notification.Notification"></activity> -->
        <service
            android:name=".Notification.FirebaseService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
    </application>

</manifest>